/* GENERAL */

* {
    box-sizing: content-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

body {
    width: 100%;
}

/* ENTETE */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

header img {
    width: 60%;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
    /* gap: 20% */
}

header nav a {
    text-decoration: none;
    color: black;
    /* font-weight: 400; */
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
}

header nav a:hover {
    text-decoration: none;
    color: #0065FC;
    /* font-weight: 500; */
    font-size: 17px;
    border-top: 5px solid #0065FC;
    padding-top: 15px;
}

/* COPRS DE PAGE */
main {
    width: 95%;
    margin: auto;
}

main h1 {
    font-weight: 800;
    font-size: 24px;
}

form {
    display: flex;
    height: 50px;
}

form label {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
}

form input[type="search"] {
    border-left: none;
    border-right: none;
    border: #f2f2f2 2px solid;
    padding-left: 20px;
    font-weight: bold;

}

form input[type="search"]::placeholder {
    color: black;
    font-weight: bold;
}

form input[type="submit"] {
    cursor: pointer;
    background: #0065FC;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
    padding: 0px 20px;
}